* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    border-bottom: 1px solid #888;
}


#container {
    height: 90vh;
    font-size: 0;
}

#container aside {
    font-size: 1rem;
    width: 20%;
    border-right: 1px solid #888;
    background-color: azure;
    display: inline-block;   
    height: 100%; 
    padding: 10px;
}

#container main {
    font-size: 1rem;
    width: 80%;
    display: inline-block;
    height: 100%;
    padding: 10px;
}

footer {
    padding: 10px;
    border-top: 1px solid #888;
}